<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itbrain.aplikasitoko">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:theme="@style/Theme.AplikasiToko"
        tools:targetApi="31">
        <activity android:name=".apotek.MenuCetakapotek2"/>
<activity android:name=".apotek.Menu_Bayar_Piutang_Apotek"/>
    <activity android:name=".apotek.Menu_Cari_Priter_Apotek"/>
        <activity android:name=".apotek.Menu_Cetak_Apotek"/>
    <activity android:name=".apotek.Menu_Restore_Apotek"/>
        <activity android:name=".apotek.Menu_Backup_Apotek"/>
        <activity android:name=".apotek.Menu_Export_Exel_Apotek"/>
        <activity android:name=".apotek.Form_Ubah_Kategori_Apotek_" />
        <activity android:name=".apotek.Form_Ubah_Satuan_Apotek" />
        <activity android:name=".apotek.Form_Ubah_Obat_Apotek_" />
        <activity android:name=".apotek.Form_Ubah_Pelanggan_Apotek_" />
        <activity android:name=".apotek.Form_Ubah_Supplier_Apotek" />
        <activity android:name=".apotek.Menu_Bayar_Apotek" />
        <activity android:name=".apotek.Menu_Pilih_Apotek" />
        <activity android:name=".apotek.Menu_Bayar_Hutang_Apotek" />
        <activity
            android:name=".MenuExportExcel"
            android:exported="false" />
            <activity android:name=".kasir.ActivityCetakKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityCetakCariKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityCetakUtangKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityCetak2Kasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityUbahBarangKasir"
                android:exported="false"/>
            <activity android:name=".kasir.Laporan_Penjualan_per_Kategori_Kasir"
                android:exported="false"/>
            <activity android:name=".kasir.Laporan_Penjualan_per_Barang_Kasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityUbahPelangganKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityUbahKategoriKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityExportExcelKasir"
                android:exported="false"/>
            <activity
                android:name=".kasir.ActivityPenjualanCariKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityBayarKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityUtangBayarKasir"
                android:exported="false"/>
            <activity android:name=".kasir.ActivityReturnProsesKasir"
                android:exported="false"/>
            <activity
                android:name=".kasir.Restore_Data_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Backup_Data_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Hutang_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Laba_Rugi_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Return_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Pendapatan_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Penjualan_per_Jenis_Kasir"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Penjualan_per_Pelanggan_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Barang_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Laporan_Pelanggan_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Menu_Return_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Form_Penjualan_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Form_Tambah_Pelanggan_Toko_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Tambah_Pelanggan_Toko_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Form_Tambah_Barang_Kasir_"
                android:exported="false" />
            <activity
                android:name=".kasir.Form_Tambah_Kategori_Kasir_"
                android:exported="false" />
            <activity android:name=".kasir.Tambah_Kategori_Kasir"
                android:exported="false" />
            <activity
                android:name=".kasir.Tambah_Barang_Kasir"
                android:exported="false" />
            <activity
                android:name=".kasir.Identitas_Kasir_Super_Mudah"
                android:exported="false" />
            <activity
                android:name=".kasir.Aplikasi_Kasir_Super_Mudah_Menu_Master"
                android:exported="false" />
            <activity
                android:name=".kasir.Aplikasi_Kasir_Super_Mudah_Menu_Transaksi"
                android:exported="false" />
            <activity
                android:name=".kasir.Aplikasi_Kasir_Super_Mudah_Menu_Laporan"
                android:exported="false" />
            <activity
                android:name=".kasir.Apllikasi_Kasir_Super_Mudah_Menu_Utilitas"
                android:exported="false" />
            <activity
                android:name=".kasir.Aplikasi_Kasir_Super_Mudah_Menu_Utama"
                android:exported="false" />
            <activity
                android:name=".kasir.Item_Apk_Kasir"
                android:exported="false" />
            <activity
                android:name=".kasir.Menu_Bayar_Hutang_Kasir"
                android:exported="false" />
        <activity
            android:name=".MenuPenjualan"
            android:exported="false" />
        <activity
            android:name=".MenuBayarHutang"
            android:exported="false" />
        <activity
            android:name=".MenuPenjualanJasa"
            android:exported="false" />
        <activity
            android:name=".MenuLaporanTiga"
            android:exported="false" />
        <activity
            android:name=".MenuLaporanDua"
            android:exported="false" />
        <activity
            android:name=".MenuLaporanSatu"
            android:exported="false" />
        <activity
            android:name=".MenuCariPrinter"
            android:exported="false" />
        <activity
            android:name=".MenuCetak"
            android:exported="false" />
        <activity
            android:name=".MenuPilih"
            android:exported="false" />
        <activity
            android:name=".bengkel.Form_Tambah_Jasa_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".Coba_Recycle_View_Coding_"
            android:exported="false" />
        <activity
            android:name=".Salon.MenuCariPrinterSalon"
            android:exported="false" />
        <activity
            android:name=".Salon.MenuCetakSalon"
            android:exported="false"/>
        <activity
            android:name=".Salon.Laporan_Pendapatan_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Laporan_Transaksi_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Laporan_Booking_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Laporan_Pelanggan_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Laporan_Jasa_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Form_Pembayaran_Booking_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Form_Booking_Salon"
            android:exported="false" />
        <activity
            android:name=".Salon.Form_Pembayaran_Langsung_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Menu_Pembayaran_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Form_Pembayaran_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Menu_Booking_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Form_Tambah_Pelanggan_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Form_Tambah_Jasa_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Menu_Pelanggan_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Menu_Jasa_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.Menu_Identitas_Salon_"
            android:exported="false" />
        <activity
            android:name=".Salon.ActivityPembayaranCariSalon"
            android:exported="false" />
        <activity
            android:name=".Salon.ActivityPembayaranProsesSalon"
            android:exported="false" />
        <activity
            android:name=".Salon.ActivityBackupSalon"
            android:exported="false" />
        <activity
            android:name=".Salon.ActivityRestoreSalon"
            android:exported="false" />
        <activity
            android:name=".Salon.ActivityExportExcelSalon"
            android:exported="false" />
        <activity
            android:name=".Salon.ActivityCetakCariSalon"
            android:exported="false"/>
        <activity
            android:name=".Salon.Item_Apk_Salon"
            android:exported="false"/><activity
        android:name=".tokosepatu.Aplikasi_Toko_Sepatu_Menu_Utama"
        android:exported="false" />
        <activity
            android:name=".Salon.Aplikasi_Salon_Menu_Utillitas"
            android:exported="false" />
        <activity
            android:name=".Salon.Aplikasi_Salon_Menu_Laporan"
            android:exported="false" />
        <activity
            android:name=".Salon.Aplikasi_Salon_Menu_Transaksi"
            android:exported="false" />
        <activity
            android:name=".Salon.Aplikasi_Salon_Menu_Master"
            android:exported="false" />
        <activity
            android:name=".Salon.Aplikasi_Salon_Menu_Utama"
            android:exported="false"/>
        <activity
            android:name=".apotek.Laporan_Obat_Expired_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Piutang_Apotek_"
            android:exported="false" />
        <activity android:name=".apotek.Identitas_Apotek" />
        <activity
            android:name=".apotek.Laporan_Pembayaran_Hutang_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Pendapatan_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Keuangan_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Penjualan_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Pengeluaran_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Obat_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Supplier_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Laporan_Pelanggan_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Menu_Pembelian_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Form_Tambah_Obat"
            android:exported="false" />
        <activity
            android:name=".apotek.Form_Tambah_Satuan_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Satuan_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Form_Tambah_kategori_Apotek_"
            android:exported="false" />
        <activity
            android:name=".apotek.Kategori_Apotek_"
            android:exported="false" />
        <activity
            android:name=".Laporan_Penjualan_per_Kategori_"
            android:exported="false" />
        <activity
            android:name=".Laporan_Penjualan_per_Barang_"
            android:exported="false" />
        <activity
            android:name=".apotek.Aplikasi_Apotek_Plus_Keuangan_Menu_Utilitas"
            android:exported="false" />
        <activity
            android:name=".apotek.Aplikasi_Apotek_Plus_Keuangan_Menu_Transaksi"
            android:exported="false" />
        <activity
            android:name=".apotek.Aplikasi_Apotek_Plus_Keuangan_Menu_Laporan"
            android:exported="false" />
        <activity
            android:name=".apotek.Aplikasi_Apotek_Plus_Keuangan_Menu_Utama"
            android:exported="false" />

        <activity
            android:name=".Form_Tambah_Janji"
            android:exported="false" />
        <activity
            android:name=".Tambah_Janji"
            android:exported="false" />
        <activity
            android:name=".FormTambahJasa"
            android:exported="false" />
        <activity
            android:name=".restoran.Backup_Data_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Restore_Data_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Pendapatan_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Penjualan_Per_Fakturn_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Penjualan_Makanan_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Makanan_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Kategori_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Meja_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Pelanggan_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Laporan_Keuangan_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Tambah_Keuangan_Restoran_"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Coba_Tanggal_" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Form_Keuangan"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Bayar_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Item_Pilih_Meja_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Pilih_Meja_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Tambah_Pelanggan_Restoran"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Tambah_Menu_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Tambah_Isi_Menu_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Tambah_Kategori_Menu_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Tambah_Kategori_Menu_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.TambahMeja"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Tambah_Meja_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.Pelanggan_Restoran_"
            android:exported="false" />
        <activity
            android:name=".restoran.ApllikasiRestoran_Menu_Utama"
            android:exported="false" />
        <activity
            android:name=".restoran.AplikasiRetoran_Menu_Transaksi"
            android:exported="false" />
        <activity
            android:name=".restoran.Aplikasi_Restoran_Menu_Laporan"
            android:exported="false" />
        <activity
            android:name=".restoran.Identitas_Restoran"
            android:exported="false" />
        <activity
            android:name=".restoran.AplikasiRestoran_Menu_Master"
            android:exported="false" />
        <activity
            android:name=".restoran.Aplikasi_Restoran_Menu_Utilitas"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pilih_Jasa_Barang_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pilih_Pelanggan_Bengkel_Servis_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pilih_Teknisi_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pilih_Barang_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pilih_Pelanggan_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Form_Tambah_Pelanggan_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Aplikasi_Bengkel_Menu_Master_"
            android:exported="true" />
        <activity
            android:name=".bengkel.Laporan_Hutang_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Laba_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Servis_Teknisi_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Pendapatan_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Servis_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Penjualan_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Teknisi_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Pelanggan_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Bayar_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pembayaran_Servis_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Pembayaran_Jual_Oederdil_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Bengkel_Pendapatan_Teknisi"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Bengkel_Laporan_Pendapatan"
            android:exported="false" />
        <activity
            android:name=".Laporan_Teknisi"
            android:exported="false" />
        <activity
            android:name=".bengkel.Laporan_Bengkel_Laporan_Pelanggan"
            android:exported="false" />
        <activity
            android:name=".Laporan_Transaksi"
            android:exported="false" />
        <activity
            android:name=".Restore_Data"
            android:exported="false" />
        <activity
            android:name=".Backup_Data"
            android:exported="false" />
        <activity
            android:name=".bengkel.AplikasiBengkel_Menu_Utilitas"
            android:exported="false" />
        <activity
            android:name=".bengkel.AplikasiBengkel_Menu_Laporan"
            android:exported="false" />
        <activity
            android:name=".bengkel.Menu_Pembayaran_Hutang_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Menu_Bayar_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Menu_Servis_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".Pembayaran_Periksa"
            android:exported="false" />
        <activity
            android:name=".bengkel.Menu_Transaksi_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.AplikasiBengkel_MenuTransaksi"
            android:exported="false" />
        <activity
            android:name=".FormTambahTeknisi"
            android:exported="false" />
        <activity
            android:name=".bengkel.Tambah_Teknisi_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Tambah_Pelanggan_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Tambah_Jasa_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Form_Tambah_Barang_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Tambah_Barang_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Tambah_Kategori_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Kategori_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Identitas_Bengkel_"
            android:exported="false" />
        <activity
            android:name=".bengkel.Aplikasi_Bengkel_Menu_Utama_"
            android:exported="true" />
        <activity
            android:name=".bengkel.Aplikasi_Bengkel_Menu_Utama"
            android:exported="false" />
        <activity
            android:name=".Super_App2"
            android:exported="false" />
        <activity
            android:name=".Laundry.Item_Apk_Laundry"
            android:exported="false" />
        <activity
            android:name=".tokosepatu.Item_Apk_Toko_Sepatu"
            android:exported="false" />

        <activity
            android:name=".rentalmobil.MenuUtama_Mobil"
            android:exported="false"/>

        <activity
            android:name=".rentalmobil.MobilMenuMaster"
            android:exported="false"/>

        <activity
            android:name=".rentalmobil.MenuIdentitas_Mobil"
            android:exported="false"/>

        <activity
            android:name=".rentalmobil.MobilMenuMerk"
            android:exported="false"/>

        <activity
            android:name=".rentalmobil.ItemMerk_Mobil"
            android:exported="false"/>

        <activity
            android:name=".rentalmobil.MenuPelanggan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.Item_Kendaraan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuTransaksi_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuKendaraan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.ItemPelanggan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.ItemPegawai_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuPegawai_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuRental_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuDP_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuPilih_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuPengembalianKendaraan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuCetak_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MobilMenuLaporan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuDetailPengembalian_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MobilMenuBayar"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuLaporanBagRental_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuLaporanBagPendapatan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuLaporanBagPegawai_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuCariPrinter_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuExportExcel_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuUtilitas_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuBackup_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuRestore_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuCetak2_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.LaporanKendaraan_Mobil"
            android:exported="false"/>

        <activity android:name=".rentalmobil.MenuLaporanPelanggan_Mobil"
            android:exported="false"/>

        <activity
            android:name=".Item_Apk_Antrian"
            android:exported="false" />

        <activity
            android:name=".apotek.Item_Apk_Apotek"
            android:exported="false" />
        <activity
            android:name=".TokoKredit.Item_Apk_Toko_Kredit"
            android:exported="false" />
        <activity android:name=".TokoKain.Activity_Bayar_Toko_Kain"/>
        <activity android:name=".TokoKain.Laporan_Order_Toko_Kain"/>
        <activity android:name=".TokoKain.Laporan_Barang_Toko_Kain"/>
        <activity android:name=".TokoKain.edit_kategori_kain"/>
        <activity android:name=".TokoKain.Edit_Toko_Kain"/>
        <activity android:name=".TokoKain.Edit_Pelaggan_Kain"/>


        <activity android:name=".TokoKain.Activity_Penjualan_Cari_Toko_Kain"/>
        <activity android:name=".TokoKain.Activity_Bayar_Cetak_Laporan_Toko_Kain"/>
        <activity android:name=".TokoKain.Activity_Cari_Printer_Laporan_Toko_Kain"/>
        <activity android:name=".TokoKain.Activity_Bayar_Cetak_Toko_Kain"/>
        <activity android:name=".TokoKain.Activity_Cari_Printer_Toko_Kain"/>
        <activity android:name=".MainActivity"/>


        <activity
            android:name=".TokoKain.Restore_Data_Toko_Kain_"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Backup_Data_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Laporan_Pendapatan_Toko_Kain_"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Laporan_Pelanggan_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Form_Tambah_Pelanggan_Toko_Kain_"
            android:exported="false" />
        <activity
            android:name=".TokoKain.FormTambah_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.TambahKain_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Form_Tambah_Kategori_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Identitas_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Pelanggan_Toko_Kain_"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Kategori_Toko_Kain_"
            android:exported="false" />


        <activity
            android:name=".TokoKain.Transaksi_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Aplikasi_Toko_Kain_Menu_Utilitas_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Aplikasi_Toko_Kain_Menu_Laporan_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Aplikasi_Toko_Kain_Menu_Master_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Aplikasi_TokoKain_Menu_Utama_Toko_Kain"
            android:exported="false" />
        <activity
            android:name=".TokoKain.Item_Apk_Toko_Kain"
            android:exported="false" />

        <activity android:name=".TokoKain.ActivityExportExcel_Toko_Kain" />
        <activity
            android:name=".bengkel.Item_Apk_Bengkel_Mobil"
            android:exported="false" />
        <activity
            android:name=".tokosepatu.Form_Bayar_Hutang_Toko_Sepatu"
            android:exported="false" />
        <activity
            android:name=".tokosepatu.Daftar_Hutang_Toko_Sepatu"
            android:exported="false" />
        <activity
            android:name=".tokosepatu.Aplikasi_Toko_Sepatu_Menu_Transaksi"
            android:exported="false" />
        <activity
            android:name=".tokosepatu.Aplikasi_Toko_Sepatu_Menu_Master"
            android:exported="false" />
        <activity
            android:name=".apotek.Menu_Pengeluaran_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Menu_Pemasukan_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Menu_Pembayaran_Hutang_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Menu_Pembayaran_Piutang_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Menu_Penjualan_Apotek"
            android:exported="false" />
        <activity
            android:name=".Form_Tambah_Supplier"
            android:exported="false" />
        <activity
            android:name=".apotek.Cari_Supplier_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Form_Tambah_Pelangan_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Cari_Pelangan_Apotek"
            android:exported="false" />
        <activity
            android:name=".apotek.Form_Cari_Obat_Apotek_"
            android:exported="false" />


        <activity android:name=".klinik.MenuUbahJasaKlinik"/>
        <activity android:name=".klinik.MenuTambahJasaKlinik"/>


        <activity android:name=".klinik.MenuTambahPasienKlinik"/>
        <activity android:name=".klinik.Tambah_Pasien_Klinik"/>
        <activity android:name=".klinik.MenuUbahPasienKlinik"/>

        <activity android:name=".klinik.Tambah_Dokter_Klinik_"/>
        <activity android:name=".klinik.MenuTambahDokterKLinik"/>
        <activity android:name=".klinik.MenuUbahDokterKlinik"/>

        <activity android:name=".klinik.Menu_pemeriksaan_klinik"/>
        <activity android:name=".klinik.MenuPilihKlinik"/>
        <activity android:name=".klinik.MenuBayarKLinik"/>
        <activity android:name=".klinik.MenuCetakKLinik"/>
        <activity android:name=".klinik.MenuCariPrinterKlinik"/>

        <activity android:name=".klinik.Tambah_Janji_Klinik"/>
        <activity android:name=".klinik.MenuTambahJanjiKlinik"/>
        <activity android:name=".klinik.MenuPilihDuaKlinik"/>

        <activity android:name=".klinik.MenuExportExcelKlinik"/>
        <activity
            android:name=".klinik.Restore_Data_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Backup_Data_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Laporan_Bagi_Hasil_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Laporan_Pendapatan_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Laporan_Periksa_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Laporan_Jasa_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Laporan_Dokter_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Laporan_Pasien_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Menu_Bayar_Tambah_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.Identitas_Klinik"
            android:exported="false" />
        <activity
            android:name=".klinik.Tambah_Jasa_Klinik_"
            android:exported="false" />
        <activity
            android:name=".klinik.AplikasiKlinik_Menu_Utilitas"
            android:exported="false" />
        <activity
            android:name=".klinik.AplikasiKlinik_Menu_Laporan"
            android:exported="false" />
        <activity
            android:name=".klinik.AplikasiKlinik_Menu_Transaksi"
            android:exported="false" />
        <activity
            android:name=".klinik.AplikasiKlinik_Menu_Master"
            android:exported="false" />
        <activity
            android:name=".klinik.AplikasiKlinikDokter_Menu_Utama"
            android:exported="false" />
        <activity
            android:name=".Form_Cari_Kategori"
            android:exported="false" />
        <activity
            android:name=".apotek.Aplikasi_Apotek_Plus_Menu_Keuangan_Menu_Master"
            android:exported="false" />
        <activity
            android:name=".restoran.Form_Konfirmasi_Restoran"
            android:exported="false" />
        <activity
            android:name=".Form_Pesan_Makanan"
            android:exported="false" />
        <activity
            android:name=".Form_Tambah_Meja"
            android:exported="false" />
        <activity
            android:name=".Menu_Pemesanan"
            android:exported="false" />
        <activity
            android:name=".Struk_Belanja"
            android:exported="false" />
        <activity
            android:name=".Laporan_Pendapatan_2"
            android:exported="false" />
        <activity
            android:name=".Main_App"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>