<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itbrain.aplikasitoko">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:theme="@style/Theme.AplikasiToko"
        tools:targetApi="31">
        <activity
            android:name=".TokoSepatuLaporanPelanggan"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanReturn"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanDetailHutang"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanHutang"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanPendapatan"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanPenjualanPerUkuran"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanPenjualanPerKategori"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanPenjualanPerBarang"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Toko_Sepatu_Menu_Master"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanPenjualanPerPelanggan"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuItemLaporanBarang"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuLaporanBarang"
            android:exported="true" />
        <activity
            android:name=".MenuReturnBarangTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".ItemReturnBarangTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".Daftar_Hutang_Toko_Sepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiLanjutkanPembayaranTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiTentukanPenjualanDetailPembelianTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiPilihBarangTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiLakukanPenjualanTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTambahPelangganTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTambahBarangTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuPelangganTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuBarangTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuIdentitasTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuTambahkategoriTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".MenuKategoriTokoSepatu"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Toko_Sepatu_Menu_Utama"
            android:exported="true" />
        <activity
            android:name=".MenuIdentitasCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanExportExcelCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuLaporanBagTransaksi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiLaporanBagTransaksi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiLaporanBagPelanggan"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiLaporanBagJasa"
            android:exported="true" />
        <activity
            android:name=".MenuCetakKwitansiCetakkwitansi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuCetakUlang"
            android:exported="true" />
        <activity
            android:name=".MenuCetakCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".ItemTransaksiCetakkwitansi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuTransaksi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuLaporan"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuMaster"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarPelangganCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".CetakKwitansiMenuMasterUtama"
            android:exported="true" />
        <activity
            android:name=".MenuTambahPelangganCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".ItemPelangganCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".ItemJasaCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarJasaCetakKwitansi"
            android:exported="true" />
        <activity
            android:name=".MenuTambahJasaAntrianPortable"
            android:exported="true" />
        <activity
            android:name=".ItemJasaAntrianPortable"
            android:exported="true" />
        <activity
            android:name=".MenuJasaAntrianPortable"
            android:exported="true" />
        <activity
            android:name=".MenuNomorMulaiAntrianPortable"
            android:exported="true" />
        <activity
            android:name=".NomorAntrian"
            android:exported="true" />
        <activity
            android:name=".MenuIdentitasUsahaAntrianPortable"
            android:exported="true" />
        <activity
            android:name=".MenuAmbilNomorAntrianPortable"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiPembayaranAngsuranKonfirmasiPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanLabaRugiPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiPenjualanTunaiPembayaranPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanTagihanPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanKreditPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanReturnPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPenjualanPendapatanPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPenjualanPerJenisPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPenjualanPerKategoriPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPenjualanPerPelangganPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanBarangPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiPenjualanKreditPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanExcelPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiReturnBarangPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiPembayaranAngsuranPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTransaksiPenjualanTunaiPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTambahPelangganPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTambahBarangPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuTambahKategoriPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuPelangganPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuBarangPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuKategoriPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".MenuIdentitasPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".PosTokoKreditMenuMaster"
            android:exported="true" />
        <activity
            android:name=".TokoKreditMenuMasterUtama"
            android:exported="true" />
        <activity
            android:name=".PosTokoKreditMenuTransaksi"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPelangganPosTokoKredit"
            android:exported="true" />
        <activity
            android:name=".PosTokoKreditMenuUtilitas"
            android:exported="true" />
        <activity
            android:name=".PosTokoKreditMenuLaporan"
            android:exported="true" />
        <activity
            android:name=".ItemLaporanPendapatanLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPendapatanLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanProsesLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPelangganLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanPegawaiLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanExcelLaundry"
            android:exported="true" />
        <activity
            android:name=".ItemLaporanJasaLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanJasaLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuTerimaLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuBayarHutangLaundry"
            android:exported="true" />
        <activity
            android:name=".ItemDaftarProsesLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarProsesLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuUbahJasaLaundry"
            android:exported="true" />
        <activity
            android:name=".LaundryMenuUtamaMaster"
            android:exported="true" />
        <activity
            android:name=".LaundryMenuLaporan"
            android:exported="true" />
        <activity
            android:name=".LaundryMenuTransaksi"
            android:exported="true" />
        <activity
            android:name=".LaundryMenuMaster"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarJasaLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuPelangganLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuPegawaiLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarPelangganLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarPegawaiLaundry"
            android:exported="true" />
        <activity
            android:name=".MenuKategoriJasaLaundry"
            android:exported="true" />
        <activity
            android:name=".MenukategoriLaundry"
            android:exported="true" />
        <activity
            android:name=".ItemProsesSimpanTabungan2"
            android:exported="true" />
        <activity
            android:name=".ItemProsesSimpanTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanExportExcelTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanKeuanganTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanTransaksiPerAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".MenulaporanSimpananTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanJenisSimpananTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuPengeluaranTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuPemasukanTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuCariDataSimpananTabugan"
            android:exported="true" />
        <activity
            android:name=".MenuProsesSimpanTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuTambahDataAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".ItemCariAnggotaTabugan"
            android:exported="true" />
        <activity
            android:name=".MenuCariAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarSimpananTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuDetailKeuanganTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuProsesAmbilTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuBuatSimpanantabungan"
            android:exported="true" />
        <activity
            android:name=".TabunganMenuUtilitas"
            android:exported="true" />
        <activity
            android:name=".TabunganMenuLaporan"
            android:exported="true" />
        <activity
            android:name=".TabunganMenuTransaksi"
            android:exported="true" />
        <activity
            android:name=".MenuAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuIdentitasTabungan"
            android:exported="true" />
        <activity
            android:name=".ItemDaftarAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuDaftarAnggotaTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuJenisSimpananTabungan"
            android:exported="true" />
        <activity
            android:name=".MenuJenisSimpanan"
            android:exported="true" />
        <activity
            android:name=".TabunganMenuMaster"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanMobilBagRental"
            android:exported="true" />
        <activity
            android:name=".MobilLaporanItemBagRental"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanMobilBagPegawai"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanMobilBagPendapatan"
            android:exported="true" />
        <activity
            android:name=".MenuLaporanMobilBagKendaraan"
            android:exported="true" />
        <activity
            android:name=".MenuCetakMobil"
            android:exported="true" />
        <activity
            android:name=".MenuCetakStrukMobil"
            android:exported="true" />
        <activity
            android:name=".MenuPengembalianKendaraanMobil"
            android:exported="true" />
        <activity
            android:name=".MenuPembayaranUangMukaMobil"
            android:exported="true" />
        <activity
            android:name=".MobilMenuTransaksi"
            android:exported="true" />
        <activity
            android:name=".MenuDetailPengembalianMobil"
            android:exported="true" />
        <activity
            android:name=".MenuRentalKendaraanMobil"
            android:exported="true" />
        <activity
            android:name=".MobilItemBayarDetailPengembalian"
            android:exported="true" />
        <activity
            android:name=".MenuBayarPengembalianKendaraanMobil"
            android:exported="true" />
        <activity
            android:name=".MobilItemDetailPengembalian"
            android:exported="true" />
        <activity
            android:name=".MobilItemPengembalian"
            android:exported="true" />
        <activity
            android:name=".MobilMenuUtilitas"
            android:exported="true" />
        <activity
            android:name=".MobilMenuLaporan"
            android:exported="true" />
        <activity
            android:name=".MobilMenuMerk"
            android:exported="true" />
        <activity
            android:name=".MobilMenuPegawai"
            android:exported="true" />
        <activity
            android:name=".MenuPelangganMobil"
            android:exported="true" />
        <activity
            android:name=".MenuIdentitasMobil"
            android:exported="true" />
        <activity
            android:name=".MenuKendaraanMobil"
            android:exported="true" />
        <activity
            android:name=".MobilMenuMaster"
            android:exported="true" />
        <activity
            android:name=".MobilMenuUtamaMaster"
            android:exported="true" />
        <activity
            android:name=".TokoSepatuMenuMaster"
            android:exported="true" />
        <activity
            android:name=".TabunganMenuMasterUtama"
            android:exported="true" />
        <activity
            android:name=".AntrianPortableMenuUtama"
            android:exported="true" />
        <activity
            android:name=".MainApp"
            android:exported="true" />
        <activity
            android:name=".Menu_Riwayat_Transaksi_Super_App"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Bengkel_Menu_Utama"
            android:exported="true" />
        <activity
            android:name=".Super_App2"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Laundry"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Toko_Sepatu"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Rental_Mobil"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Antrian"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Salon"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Apotek"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Kasir"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Toko_Kain"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Toko_Kredit"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Klinik_Dokter"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Bengkel_Mobil"
            android:exported="true" />
        <activity
            android:name=".Item_Apk_Tabungan"
            android:exported="true" />
        <activity android:name=".ItemSuperAppRevisi" />
        <activity
            android:name=".Form_Bayar_Hutang_Toko_Sepatu"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Toko_Sepatu_Menu_Transaksi"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Salon_Menu_Utillitas"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Salon_Menu_Laporan"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Salon_Menu_Transaksi"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Salon_Menu_Master"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Salon_Menu_Utama"
            android:exported="true" />
        <activity
            android:name=".Menu_Bayar_Hutang_Kasir"
            android:exported="true" />
        <activity
            android:name=".Tambah_Pelangggan_Kasir"
            android:exported="true" />
        <activity
            android:name=".Tambah_Barang_Kasir"
            android:exported="true" />
        <activity
            android:name=".Tambah_Kategori_Kasir"
            android:exported="true" />
        <activity
            android:name=".Menu_Pengeluaran_Apotek"
            android:exported="true" />
        <activity
            android:name=".Menu_Pemasukan_Apotek"
            android:exported="true" />
        <activity
            android:name=".Menu_Pembayaran_Hutang_Apotek"
            android:exported="true" />
        <activity
            android:name=".Menu_Pembayaran_Piutang_Apotek"
            android:exported="true" />
        <activity
            android:name=".Menu_Penjualan_Apotek"
            android:exported="true" />
        <activity
            android:name=".Form_Tambah_Supplier"
            android:exported="true" />
        <activity
            android:name=".Cari_Supplier_Apotek"
            android:exported="true" />
        <activity
            android:name=".Form_Tambah_Pelangan_Apotek"
            android:exported="true" />
        <activity
            android:name=".Cari_Pelangan_Apotek"
            android:exported="true" />
        <activity
            android:name=".Form_Cari_Obat"
            android:exported="true" />
        <activity
            android:name=".Form_Cari_Kategori"
            android:exported="true" />
        <activity
            android:name=".Identitas_Apotek"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Apotek_Plus_Menu_Keuangan_Menu_Master"
            android:exported="true" />
        <activity
            android:name=".Aplikasi_Apotek_Plus_Keuangan_Menu_Utama"
            android:exported="true" />
        <activity
            android:name=".Form_Konfirmasi_Restoran"
            android:exported="true" />
        <activity
            android:name=".Form_Pesan_Makanan"
            android:exported="true" />
        <activity
            android:name=".Form_Tambah_Meja"
            android:exported="true" />
        <activity
            android:name=".Tambah_Meja"
            android:exported="true" />
        <activity
            android:name=".Menu_Pemesanan"
            android:exported="true" />
        <activity
            android:name=".Struk_Belanja"
            android:exported="true" />
        <activity
            android:name=".Laporan_Pendapatan_2"
            android:exported="true" />
        <activity
            android:name=".Form_Tambah_Janji"
            android:exported="true" />
        <activity
            android:name=".Restore_Data"
            android:exported="true" />
        <activity android:name=".Aplikasi_Toko_Sepatu_Menu_Laporan" />
        <activity
            android:name=".Main_App"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>